    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">CIN</th>
        <th scope="col">Date de Naissance</th>
        <th scope="col">Numéro de Tel</th>
        <th scope="col">Niveau Educatif</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.nom}}</td>
        <td>{{person.prenom}}</td>
        <td>{{person.cin}}</td>
        <td>{{person.dateDeNaissance}}</td>
        <td>{{person.numTel}}</td>
        <td>{{person.niveauScolaire}}</td>
      </tbody>
    </table>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Adresse</th>
        <th scope="col">Info Travail</th>
        <th scope="col">revenue Monsuel</th>
        <th scope="col">Montant d'Aide Monsuelle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{person.adresse}}</td>
        <td>{{person.infoTravail}}</td>
        <td>{{person.revenueMonsuel}}</td>
        <td>{{person.montantAideMonsuelle}}</td>
      </tbody>
    </table>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Situation Sanitaire</th>
        <th scope="col">Couverture Sociale</th>
        <th scope="col">Cout des Médicaments utilisées</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{person.siutationSanitaire}}</td>
        <td>{{person.typeCouvertureSociale}}</td>
        <td>{{person.coutMedicaments}}</td>
      </tbody>
    </table>
    <br>
    <div *ngIf="person.nombreEnfants">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nombre d'Enfants</th>
          <th scope="col">Nombre d'Enfants Pris en Charge</th>
          <th scope="col">RIB</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{person.nombreEnfants}}</td>
          <td>{{person.nombreEnfantsParrainees}}</td>
          <td>{{person.rib}}</td>
        </tbody>
      </table>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
            <button id="myForm" (click)="uploadImage()" type="file" class="btn btn-primary" (change)="postMethod($event.target.files)">Ajouter Une Image</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary">Ajouter Un Donneur</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary">Ajouter Une image</button>
        </div>
      </div>
    </div>
    <br>
<div *ngIf="imagePressed">
  <form>
    <input class="btn btn-primary" id="myForm" type="file" name="imageFile" (change)="postMethod($event.target.files)" value="Ajouter une image">
  </form>
</div>

