<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" routerLink="./ajouterDossier">Nouveau Dossier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  role="tab" aria-controls="home" routerLink="./recherche">Consultation d'un Dossier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false" routerLink="./ajouterDonneur">Gestion des Garants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false" routerLink="./ajouterAdmin">Gestion des Transactions</a>
  </li>
</ul>


