<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  role="tab" aria-controls="home" routerLink="./recherche">Recherche de Dossier</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" routerLink="./ajouterDossier">Ajout de dossier</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false" routerLink="./ajouterDonneur">Ajout d'un Donneur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab"  role="tab" aria-controls="contact" aria-selected="false" routerLink="./verserTransaction">Ajouter un Admin</a>
  </li>
</ul>


