<h5>Ajouter Un garant à {{person.prenom}}  {{person.nom}}</h5><br>
<div>
  <div class="row">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col">
                <label>Nom</label> <input name="nomDonneur" [(ngModel)]="nomParrain" type="text" class="form-control" >
              </div>
              <div class="col">
                <label>Prenom</label> <input name="prenomDonneur"[(ngModel)]="prenomParrain" type="text" class="form-control" >
                <br>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <button (click)="ajouterParrain()" type="button" class="btn btn-primary">Ajouter Un Garant</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<h5>Ajouter Une transactions</h5><br>

<table *ngFor="let i of parrain" class="table">
  <thead>
  <tr >
    <th scope="col">Nom du donneur</th>
    <th scope="col">Prenom du donneur</th>
    <th scope="col">CIN du donneur</th>
    <th scope="col">Telephone du donneur</th>
    <th scope="col">Verser une Transaction</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{i.nom}}</td>
    <td>{{i.prenom}}</td>
    <td>{{i.cin}}</td>
    <td>{{i.telephone}}</td>
    <td>
      <form class="form-inline my-2 my-lg-0">
        <input name="prenom" [(ngModel)]="montant" class="form-control mr-sm-2" type="search" placeholder="taper le montant ici" aria-label="Search"><br>
        <button (click)="verserTransaction(i.id)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Verser la transaction</button>
      </form>
    </td>
  </tbody>
</table>

<h5>Historique des Transactions</h5><br>
<app-transaction-historique [personId]="this.person.id"></app-transaction-historique>

