<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>A propos</h6>
        <p class="text-justify">C'est application a été développé par l'étudiant en ingénieurie informatique Nizar Nasraoui, encadré par Madame Anissa Omrane professeur à la Faculté des Scinces De Tunis.</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021
        </p>
      </div>
    </div>
  </div>
</footer>
