 <form>
    <div class="row">
      <div class="col">
        <label>Nom</label> <input type="text" class="form-control" >
      </div>
      <div class="col">
        <label>Prenom</label> <input type="text" class="form-control" >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Adresse</label> <input type="text" class="form-control" >
      </div>
      <div class="col">
        <label>Numéro de Tel</label> <input type="text" class="form-control" >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Date d'ouverture du dossier</label> <input type="text" class="form-control" >
      </div>
      <div class="col">
        <label>Niveau scolaire</label> <input type="text" class="form-control" >
      </div>
    </div>
   <div class="row">
     <div class="col">
       <label>Info Travail</label> <input type="text" class="form-control" >
     </div>
     <div class="col">
       <label>Revenu mensuel</label> <input type="text" class="form-control" >
     </div>
   </div>
   <div class="row">
     <div class="col">
       <label>Montant d'aide monsuelle</label> <input type="text" class="form-control" >
     </div>
     <div class="col">
       <label>Situation sanitaire</label> <input type="text" class="form-control" >
     </div>
   </div>
   <div class="row">
     <div class="col">
       <label>Type de couverture sociale</label> <input type="text" class="form-control" >
     </div>
     <div class="col">
       <label>Cout des médicaments</label> <input type="text" class="form-control" >
     </div>
   </div>
   <div class="row">
     <div class="col">
       <label>Nombre d'enfants</label> <input type="text" class="form-control" >
     </div>
     <div class="col">
       <label>Nombre d'enfants pris en charge:</label> <input type="text" class="form-control" >
     </div>
   </div>
   <div class="row">
     <div class="col">
       <label>Date de déces de l'époux</label> <input type="text" class="form-control" >
     </div>
   </div>
  </form>

  <!--
  {
    "numDossier": 0,
    "dateOuvertureDossier": null,
    "nom": "ali",
    "prenom": "ali",
    "dateDeNaissance": null,
    "numTel": 0,
    "adresse": "",
    "niveauScolaire": "",
    "typeTravaille": "",
    "situationTravaille": "",
    "revenueMonsuel": 0.0,
    "montantAideMonsuelle": 0.0,
    "siutationSanitaire": "",
    "typeCouvertureSociale": "",
    "coutMedicaments": 0.0,
    "nombreEnfants": 0,
    "nombreEnfantsParrainees": 0,
    "dateDecesMari": null,
    "rib": 0,
    "cin": 0,
  -->
